# MS SQL Server — parámetros por separado (paquete mssql)
DB_SERVER=ALEXIS-BURGOS\\SQL22
DB_PORT=1433
DB_NAME=onne
DB_USER=iEx
DB_PASSWORD=iEx
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true
PORT=6500
