# Si no está vacío, el login solo muestra esa empresa (misma BD, varias empresas)
DEFAULT_EMPNIT=''
DB_SERVER=ALEXIS-BURGOS\\SQL22
DB_PORT=1433
DB_NAME=onne
DB_USER=iEx
DB_PASSWORD=iEx
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
PORT=6500
UPDATE_SERVER=sql5052.site4now.net
UPDATE_DB=db_a6478c_onnebsync
UPDATE_USER=db_a6478c_onnebsync_admin
UPDATE_PASSWORD=razors1805
TOKEN='VICEFARMA'
# Sin licencia solo se muestra el menú Licencia. Para desarrollo sin archivo: LICENSE_OPEN=1
# LICENSE_OPEN=1
STORAGE_SERVER='https://webdav.pcloud.com'
STORAGE_USER='alexisburgosgtm@gmail.com'
STORAGE_PASS='razors1805'
